<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Controller\Product\Compare\Add"
                type="MageArray\AjaxCompare\Controller\Product\Compare\Add"/>
	<preference for="Magento\Catalog\Controller\Product\Compare\Remove"
                type="MageArray\AjaxCompare\Controller\Product\Compare\Remove"/>
	<preference for="Magento\Catalog\Block\Product\Compare\ListCompare"
                type="MageArray\AjaxCompare\Block\Product\Compare\ListCompare"/> 		
</config>
	
	